
    <mat-toolbar color="primary" class="main-tool-bar">
    <span class="example-spacer">{{title}}
       <!--<div *ngIf="!userService.loggedIn()"></div>-->
      <a routerLink="/register" mat-raised-button color="primary" *ngIf="!userService.loggedIn()">Register</a>
      <a routerLink="/login" mat-raised-button color="primary" *ngIf="!userService.loggedIn()">Login</a>
      <ng-template [ngIf]="user">
      <a [routerLinkActive]="['active']" routerLink="/" [routerLinkActiveOptions]="{ exact: true }" mat-raised-button color="primary"><span><i class="material-icons">home</i>
        </span>Home</a>
      
      <a routerLink="/creategroup" mat-raised-button color="primary" *ngIf="user.role==='admin'">Create Group</a>
      <a routerLink="/manageaccount" mat-raised-button color="primary" *ngIf="user.role==='admin'">Manage Users</a>
      <a [routerLinkActive]="['active']" routerLink="/groups" mat-raised-button color="primary"><span><i class="material-icons">perm_identity</i>
      </span>Groups</a>
      <a [routerLinkActive]="['active']" routerLink="/posts" mat-raised-button color="primary"><span><i class="material-icons">article</i>
      </span>Posts</a>
      <a (click)="logout()" mat-raised-button color="primary"><span><i class="material-icons">login</i>
      </span>Logout</a>
    
      </ng-template>
      
      
    </span>
    </mat-toolbar>

  <router-outlet></router-outlet>
<!--<app-navigationbar></app-navigationbar>-->

<!--<div class="app-container" [ngClass]="{ 'bg-light': user }">
    
    
</div>-->
<!--*ngIf="user.role==='admin'";
<div *ngIf="user">
      <a mat-button color="warn" *ngIf="user.role==='admin'">{{user.role}}</a>
    </div>
-->